{% extends 'base.html' %}
{% block title %}
Movies
{% endblock title %}
{% block content %}

<!-- Search Bar -->
<div class="container-fluid p-5 bg-secondary">
    <form id="searchForm" action="{% url 'movies' %}" method="get">
        <div class="row">
        <div class="col col-10">
        <input type="text" value="{{search_query}}" id="searchMovie" name="search_query" class="form-control" placeholder="Search Movie..." aria-label="Search" />
        </div>
        <input type="submit" class="col col-2 btn btn-primary" value="search" />
        </div>
    </form>
</div>

<!-- Movies -->
<div class="container-fluid">
  {% if message is not None%}
  <div class="alert alert-success m-5">
      {{message}}
  </div>
  {% endif %}
    <div class="row row-cols-1 row-cols-lg-3 p-3 g-3 g-lg-5">
        {% for movie in movies %}
        <div class="col">
            <div class="card">
                <img class="card-img-top"  style="height:400px; object-fit: cover;" src="{{ movie.image.url }}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{movie.title}}</h4>
                  <p class="card-text">{{ movie.description|slice:":150" }}...</p>
                  <a href="{% url 'movie' movie.id %}" class="btn btn-primary">More Info / Vote</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
{% if movies.has_other_pages %}
<div class="container-fluid my-5">
    <ul class="pagination justify-content-center">
        {% if movies.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{movies.previous_page_number}}" data-page="{{movies.previous_page_number}}">Previous</a>
            </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        {% for page in paginator.page_range %}
        {% if page == movies.number %}
        <li class="page-item active"><a class="page-link" href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>
        {% endif %}
        {% endfor %}
        {% if movies.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{movies.next_page_number}}" data-page="{{movies.next_page_number}}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
      </ul>
</div>
{% endif %}

<script type="text/javascript">
    let serachForm = document.getElementById("searchForm")
    let pageLinks = document.getElementsByClassName("page-link")
    if (serachForm) {
        for (let i = 0; i < pageLinks.length; i++) {
            pageLinks[i].addEventListener('click', function (e) {
                e.preventDefault()
                let page = this.dataset.page
                serachForm.innerHTML += `<input value=${page} name="page" hidden />`
                serachForm.submit()
            })
        }
    }
</script>
{% endblock content %}